header {
    width: 100%;
    background: rgb(50,63,63);
    height: 80px;
    opacity: 85%;
    border-radius: 0px 0px 25px 25px;
}

.title {
    font-size: 48px;
    padding-top: 10px;
    text-align: left;
    padding-left: 30px;
    color: rgb(191,239,236);
}

a {
    color: rgb(191,239,236);
}

.back {
    font-size: 24px;
    padding-top: 10px;
    padding-right: 30px;
    text-align: right;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(180,203,203);
}

.form {
    padding-top: 10px;
    padding-left: 25%;
    width: 50%;
}

form {
    font-family: sans-serif;
    color: rgb(181,229,226);
    padding: 15px;
    background: rgb(100,113,113);
    border-radius: 25px;
    font-size: 32px;
}

input {
    height: 50px;
    margin-bottom: 5px;
    font-size: 32px;
    width: 100%;
    border-radius: 10px;
}

textarea {
    height: 100px;
    font-size: 24px;
    width: 100%;
    border-radius: 10px;
}